:root {
    --primary-color: #00ABE4;
    --primary-color-hover: #00c0ff;
    --primary-color-active: #29c8ff;
    --primary-color-outline: rgba(55, 204, 255, 0.68);
    --primary-1: #c0eeff;
    --primary-2: #9be6ff;
    --primary-3: #71e4ff;
    --primary-4: #36d8ff;
    --primary-5: #22caff;
    --primary-6: #00beff;
    --primary-7: #009ad1;

    --body-background: #ffffff;
    --component-background: #ffffff;
    --text-color: #0f172a;
    --text-color-secondary: #475569;

    --heading-color: #00ABE4;
    --h1-color: #22caff;
    --h2-color: #22caff;
    --h3-color: #22caff;
    --h4-color: #22caff;
    --h5-color: #22caff;
}

.dark {
    --primary-color: #00ABE4;
    --primary-color-hover: #00c0ff;
    --primary-color-active: #29c8ff;
    --primary-color-outline: rgba(55, 204, 255, 0.68);
    --primary-1: #c0eeff;
    --primary-2: #9be6ff;
    --primary-3: #71e4ff;
    --primary-4: #36d8ff;
    --primary-5: #22caff;
    --primary-6: #00beff;
    --primary-7: #009ad1;

    --body-background: #1e293b;
    --component-background: #0f172a;
    --text-color: #f8fafc;
    --text-color-secondary: #cbd5e1;
}